body
{
    margin: 0px;
    text-align: center;
}

#h
{
    background-color: #c00;
    color: #ffd700;
    position: fixed;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
}

.topic-intro
{
    color: #8a69d4;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 32px;
    text-align: center;
    font-family: sans-serif;
}

p
{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
}

ol
{
    font-size: 24px;
    padding-left: 40px;
    list-style: none;
}

ol li::before
{
    content: "- ";
}

table
{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

td
{
    font-size: 24px;
}

img
{
    height: 10vh;
    cursor: pointer;
}