@import "https://fonts.googleapis.com/css?family=Noto Sans Math";

body
{
    margin: 0px;
    padding: 0px;
}

pre
{
    border: 1px solid #555555;
    width: 96%;
    margin-left: 1%;
    margin-top: 1%;
    height: 50%;
    position: absolute;
    padding: 1%;
    font-family: "Noto Sans Math", serif;
    font-size: 150%;
}

button
{
    border: 1px solid #555555;
    border-radius: 4px;
    width: 98%;
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
    top: 55%;
    font-size: 100%;
}

p
{
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
    top: 60%;
    font-family: "Noto Sans Math", serif;
    font-size: 125%;
}